body {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    background-color: rgb(255, 235, 197);
}

button {
    background-color: rgb(111, 111, 232);
    color: white;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: bisque;
    padding: 0 20px 0 20px;
    font-size: 25px;
}

.page-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}

.page-header a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
}

.items {
    width: 80%;
    margin: auto;
    border: 10px solid beige;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

.items img {
    width: 100%;
    height: auto;
    border-radius: 1px;
}

.item {
    background-color: white;
    border: 5px solid rgb(228, 228, 135);
    border-radius: 10px;
}

.item p {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5em;
    padding: 0 10px 0 10px;
} 

.item p:nth-child(2) {
    color: black;
    font-weight: bold;
}

.item p:nth-child(3) {
    color: blue;
    font-weight: bold;
}

.item button {
    background-color: rgb(165, 223, 129);
    color: rgb(0, 17, 128);
    font-weight: bold;
    display: flex;
    padding: 1em;
}


#total, #cart-quantity, #item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 30px 0;
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-size: 20px;
}

#item-list > * {
    list-style: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

footer {
    border: 10px solid wheat;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid wheat;
    font-size: 20px;
    padding: 20px 0 20px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
